
<style>
    th {
        text-align: center;
    }

    .no-width {
        width: auto !important;
    }

    .page-header-top {
        padding: 1px;
    }

    #show {
        font-size: 24px;
        color: #4213C9;
        text-align: center;
    }
</style>

<div class="page-content">
    <div class="page-header col-xs-12" style="line-height:30px;">
        <h1 style="display:inline-block;" class="col-xs-7">
            普陀区出土工地视频监控检查表信息录入
        </h1>
        <div class="pull-right">
            <a href="/Home/Index" class="btn btn-info btn-sm">返回</a>
        </div>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="col-xs-12 page-header-top">
                <div id="page_alert_container"></div>
            </div>

            

            <div class="tab-content">
                <div id="his" class="tab-pane fade active in">
                    <div class="clearfix">
                        <div class="pull-left tableTools-container">


                            <div class="dt-buttons btn-overlap btn-group">
                                <span class="gdxuanzhekuang" style="margin-left:60px;">
                                    请选择工地   <select id="wokao1" class="opt8" style="border-color: #e1e1e1;">
                                        <option value="">--请选择--</option>
                                    </select>
                                </span>
                            </div>


                            @*<div class="dt-buttons btn-overlap btn-group " style="margin-left:960px;">
                    <span class="">
                        当前时间：<b id="show"></b>
                    </span>
                </div>*@

                        </div>
                    </div>
                    <div class="table-header">
                        信息录入添加区域
                    </div>
                    <input type="hidden" id="dataId" value="@(ViewData["dataId"])" />
                    <table id="indexTabHead" class="table  table-bordered table-hover"></table>
                    <table id="indexTab" class="table  table-bordered table-hover">
                        <thead>
                            <tr align="center">
                                <th>日期</th>
                                <th>时间</th>
                                <th>工地名称</th>
                                <th>工地地址</th>
                                <th>运输车辆</th>
                                <th>是否冲洗</th>
                                <th>是否密闭</th>
                                <th>是否办理有效处置证</th>
                                <th>运输公司名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td><span class="timerq"><input id="rqtime" style="width: 96%;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'});" value="" required /></span></td>
                                <td align="center" style="border-color: #e1e1e1;width: 5%;"><input id="sjtime" type="text" value="" class="times" /></td>
                                <td align="center" style="border-color: #e1e1e1;width: 15%;"><span class="jiuge3"></span></td>
                                <td align="center" style="border-color: #e1e1e1;width: 15%;"><span class="gddz"></span></td>
                                <td align="center"><input id="trans" class="yscl" /></td>
                                <td>   <select id="rinse" class="opt5" style="border-color: #e1e1e1;"><option text="0" value="0" >是</option><option text="1" value="1">否</option></select></td>
                                <td align="center">   <select id="airtight" class="opt6" style="border-color: #e1e1e1;"><option text="0" value="0" >是</option><option text="1" value="1">否</option></select></td>
                                <td align="center">   
                                <select id="certificate" class="opt7" style="border-color: #e1e1e1;width: 100%;">
                                                          <option text="" value="" > </option>
                                    <option text="0" value="0" > 是</option><option text="1" value="1">否</option>
                                    </select></td>
                                <td align="center" style="border-color: #e1e1e1;width: 15%;">  <select id="transportcompanyName" class="opt8" style="border-color: #e1e1e1;width:90%;">   <option text="" value=""> </option><option text="0" value="0">营润</option> <option text="1" value="1">禹程</option><option text="2" value="2">勤顺</option><option text="3" value="3">健徽</option> <option text="4" value="4"> 世滨</option><option text="5" value="5">陆通</option><option text="6" value="6">普环</option><option text="7" value="7">明路</option><option text="8" value="8">儒林</option></select></td>
                            </tr>




                        </tbody>
                    </table>

                    <div class="clearfix form-actions" id="option">
                        <div class="col-md-offset-5 col-md-6">
                            <button class="btn btn-info" type="button" id="btnSave1">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                修改
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
@*<div id="mes8" class="hide">
        <span>

        </span>
    </div>*@

@*<div id="operators" class="hide">
        <span>
            <select class="opt2" style="border-color: #e1e1e1;width:90%;" >
                <option text="" value="">--请选择运算符--</option>
                <option text="0" value="0">大于等于</option>
                <option text="1" value="1">小于等于</option>
            </select>
        </span>
    </div>*@
<div id="delTd" class="hide">
    <div class="action-buttons" style="margin-top:7px;">
        <a class="red opt-del" title="删除">
            <i class="ace-icon fa fa-trash-o bigger-130"></i>
        </a>
    </div>
</div>
<link rel="stylesheet" href="~/js/plugins/timepicker/bootstrap-timepicker.min.css" />
<script src="~/js/plugins/moment/moment-with-locales.js"></script>
<script src="~/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script src="~/js/pageScripts/Nurse/StandardVal/edit.js"></script>
<script src="~/js/plugins/timepicker/bootstrap-timepicker.min.js"></script>

<script>
    $('#stDate3').timepicker({
        defaultTime: '9:00',
        showInputs: true,
        minuteStep: 1,
        showMeridian: false,
        maxHours: 24,
    });
</script>
<script>
    //$(function () {
    //    var myDate = new Date;
    //    var year = myDate.getFullYear(); //获取当前年
    //    var mon = myDate.getMonth() + 1; //获取当前月
    //    var date = myDate.getDate(); //获取当前日
    //    var timeing = year + "-" + mon + "-" + date
    //    $("#stDate1").attr("value", timeing);
    //});
</script>
<script>
    //var timer = null;
    //function displayClock(num) {//num是传入的startClock中的动态值
    //    if (num < 10) {
    //        return "0" + num;
    //    }
    //    else {
    //        return num;
    //    }
    //}
    ////停止计时
    //function stopClock() {
    //    clearTimeout(timer);
    //}
    ////开始计时
    //function startClock() {
    //    var time = new Date();
    //    var hours = displayClock(time.getHours()) + ":";
    //    var minutes = displayClock(time.getMinutes()) + ":";
    //    var seconds = displayClock(time.getSeconds());
    //    //显示时间
    //    show.innerHTML = hours + minutes + seconds;//在id为show的块区域显示
    //    timer = setTimeout("startClock()", 1000);//延时器
    //}
</script>

<script>
    $('.times').timepicker({
        defaultTime: '9:00',
        showInputs: true,
        minuteStep: 1,
        showMeridian: false,
        maxHours: 24,
    });</script>
